<h4>商品一覧</h4>
<h3>テスト</h3>

<% @items.each do |item| %>
  <p>商品ID   <%= item.id %></p>
  <p>商品名　 <%= item.name %></p>
  <p>税抜価格   <%= item.price %></p>
  <p>ジャンル   <%= item.genre.name %></p><br><br>
<% end %>