<h1>注文履歴一覧(管理)</h1>
<% @orders.each do |order| %>
注文日時<%= link_to order.created_at.strftime("%Y-%m-%d%H:%M"), admin_order_path(order) %><br>
購入者<%= order.customer.first_name + order.customer.last_name %><br>
注文個数<br><br>

<% end %>