<%= flash[:notice] %>

<main>
  <div class="container">
   <div class="row">
    <div class="mx-auto">
     <h1>TOPページ</h1>

<h2>ようこそ、ながのCAKEへ！<br>
このサイトは、ケーキ販売のECサイトになります。<br>
会員でない方も商品の閲覧はできますが、<br>
購入には会員登録が必要になります。
</h2>

</div>
</div>
<div class="row">
<div class="mx-8">
<h1>新着商品</h1>
</div>
</div>

</div>
</main>